

#navbar.active {
  right: 0px;
}

@media screen and (max-width: 768px) {
  #navbar {
    position: fixed;
    top: 130px;
    right: -300px;
    width: 250px;
    height: 100vh;
    background: #1b2430f5;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }
}

/* 

right-0

fixed top-32 -right-80 w-64 h-screen bg-[1b2430f5] pt-40 pl-10 transition-all transition-duration-300 transition-timing-ease-in-out

*/
